#container{
    width: 200px;
    height: 500px;
    border: 2px solid gray;
}

#container.focused{
    border: 2px dotted gray;
    transform: scale(1.05);
}

#box{
    width: 100px;
    height: 100px;
    background-color: blue;
}